<!DOCTYPE html>
<html>
    <head>
        <title>Input Type Submit</title>
    </head>
    <body>

        <header>
            {{if .Method}} <p>The Request Method: {{.Method}} </p> {{end}}
            {{if .Host}} <p>The Request Host: {{.Host}} </p> {{end}}
            {{if .ContentLength}} <p>The Request ContentLength: {{.ContentLength}} </p> {{end}}
            
            {{if .URL}} <p>The Request URL:</p>
            <ul>
                <li>Scheme: {{.URL.Scheme}}</li>
                <li>Opaque: {{.URL.Opaque}}</li>
                <li>Host: {{.URL.Host}}</li>
                <li>Path: {{.URL.Path}}</li>
                <li>RawPath: {{.URL.RawPath}}</li>
                <li>ForceQuery: {{.URL.ForceQuery}}</li>
                <li>RawQuery: {{.URL.RawQuery}}</li>
                <li>Fragment: {{.URL.Fragment}}</li>
            </ul>
            {{end}}

            {{if .Header}}
                {{range $k, $v := .Header}}
                    <p> {{$k}} </p>
                    <ul>
                    {{range $v}}
                        <li> {{.}} </li>
                    {{end}}
                    </ul>
                {{end}}
            {{end}}

            {{if .Submissions}}
                <p>Form data:</p>
                {{range $key, $value := .Submissions}} <p> {{$key}} </p>
                <ul>
                    {{range $value}} <li> {{.}} </li> {{end}}
                </ul>
                {{end}}
            {{end}}
        </header>

        <form action="/" method="POST">
        <input type="text" name="fname" placeholder="First Name" autofocus autocomplete="on">
        <input type="submit" name="submit-button" value="Submit">
        </form>
    </body>
</html>
                