<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <form method="POST">
            <input type="text" name="hash"><br>
            <input type="submit"><br>
        </form>
        {{if .}}
        <p>That corresponds to {{.}}</p>
        {{end}}
    </body>
</html>